*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.page-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  letter-spacing: 1px;
}

.hero-section {
  border-top: 2px dashed #212121;
}

.hero-content {
  padding: 45px 40px 45px 40px;
  margin-bottom: 32px;
}

.hero-image,
.logo {
  border-radius: 8px;
  overflow: hidden;
}

.hero-text {
  margin-bottom: 16px;
}

.business-case {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.business-case .sub-item {
  flex-basis: calc((100% - 32px) / 2);
}

.insights {
  margin-top: 20px;
}

.insights .sub-item:not(:last-child),
.insights .item:not(:last-child) {
  margin-bottom: 8 px;
}

.product-table td,
.product-table th {
  padding: 4px 8px;
  border: 1px solid #212121;
}

.product-table {
  border-collapse: collapse;
}

.product-row:nth-child(odd) {
  background-color: #03a9f4;
}

.product-row:nth-child(even) {
  background-color: #ffeb3b;
}

.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #212121;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-text {
  color: #fff;
  flex-basis: 300px;
}

.social-links {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  align-self: flex-end;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
